*{
    margin:0px;
    padding:0 px;
}
body{
    overflow: hidden;
    animation: shakebody linear 5s infinite;
}

.sky{
    height:100vh;
    width:100%;
    background-image:url(background.jpg);
    background-repeat: no-repeat;
    position:absolute;
}

.trees{
    width:100%;
    height:100vh;
    background-image: url(trees.png);
    background-size: cover;
    position:absolute;
    bottom:52px;
    top:-165px;
}

.track{
    width:800vw;
    height:36vh;
    background-image: url(track.png);
    background-repeat: repeat-x;
    position:absolute;
    bottom:-15px;
    animation:carmove linear 6s infinite;
}

.car{
    width: 250px;
    height:70px;
    background-image: url(car_body.png);
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    left:403px;
    top:59vh;
    animation:shake linear 1.2s infinite;

}

.wheel1{
    width: 54px;
    height:53px;
    background-image: url(car_wheel_left.png);
    position: absolute;
    background-size: cover;
    top: 25px;
    left: 24px;
    animation:wheelmove linear .3s infinite;
}

.wheel2{
    width:58px;
    height:57px;
    background-image: url(car_wheel_right.png);
    position: absolute;
    background-size: cover;
    top: 24px;
    left: 152px;
    animation:wheelmove linear .3s infinite;
}

@keyframes wheelmove {
    100%{
        transform: rotate(360deg);
    }   
}

@keyframes shake {
    0%{
        transform:translateY(-5px);
    }
    50%{
        transform:translateY(5px);
    }
    100%{
        transform: translateY(-5px);
    }
}

@keyframes shakebody {
    0%{
        transform:translateY(-30px);
    }
    50%{
        transform:translateY(30px);
    }
    100%{
        transform: translateY(-30px);
    }
}
@keyframes carmove {
    100%{
        transform:translateX(-500vw);
    }
}